.videocard{
    margin-bottom: 1rem;
    width: 300px;
    /* border: 2px black solid; */
    padding: 0.5rem;
}
.videocard__image{
    width: 270px;
    height: 150px;
    
}
.video_info{
    display: flex;
    /* padding-left: 1rem; */
}

.video_description{
    margin-left: 0.7rem;
    
}
.video_description > h4{
    font-size: 14px;
}
.video_description p{
    font-size: 12px;
    color: grey;
}